  <footer class="footer">
    <p><%= config.site.footer %></p>
    <p>Powered by <a href="https://github.com/Tricon2-Elf/md-kiln" target="_blank" rel="noopener noreferrer">mdkiln</a></p>
  </footer>
  <% if (config.sidebar.status.enabled) { %>
    <script src="/js/status.js"></script>
  <% } %>
</body>
</html>
